
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.text-position1{
    bottom: 250px;
    left: 1200px;
    width: 400px;
}

.text-position2{
    bottom: 350px;
    left: 750px;
    width:400px;
}

.text-position3{
    bottom: 550px;
    left: 30px;
    width: 500px;
}

.welcome_page_text{
    font-size: 80px;
    color: white;
    position: absolute;
    font-family: 'Abril Fatface', serif;
}
.input{
    position: absolute;
    width:360px;
    margin-bottom: -30px;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Abril Fatface', serif;
}

.background{
    width: 100%;
    height: 700px;
}

.logo-text{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 80px;
    margin-left: 30px;
    padding-top: 30px;
}


.overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0.97;
    background-color:#ccc;
    width:100%;
    height:100%;
    z-index:1000;
    font-size: 65px;
    font-weight: bold;
    padding-left:650px;    /* adjust this in media queries*/
    transition: 1s;
}

.x-button{
    z-index: 1001;
    color: black;
    position: fixed;
    top:20px;
    left: 1820px;
    width: 55px;
}

.food-list{
    z-index: 1001;
    position: fixed;
    top: 525px;
    left: 40%;
}

li {
    cursor:pointer;
    list-style: none;
    font-size: 20px;
    word-spacing: 5px;
    font-weight: normal !important;
    color: rgb(83, 78, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mglass{
    position: fixed;
    z-index: 1001;
    left: 570px;
    top:470px;
}

