
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth;
    font-size: 20px;
}

/* MAKNI COOK SLIKU U MEDIA QUERYIJAMA */
/* width 70% */


/* WELCOME PAGE */

.text-position1{
    position: relative;
    bottom: 250px;
    right: 50px;
    width: 300px;
}

.text-position2{
    top: 35%;
    left: 40%;
    width: 300px;
}

.text-position3{
    position: relative;
    bottom: 550px;
    left: 30px;
    width: 360px;
}

.welcome_page_text{
    font-size: 100px;
    color: white;
    position: absolute;
    font-family: 'Abril Fatface', serif;
    
}

.input{
    position: absolute;
    bottom: -40px;
    left: 0px;
    width:300px;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Abril Fatface', serif;
}



.logo-text{
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 75px;
    margin-left: 30px;
    padding-top: 30px;
}


.overlay{
    background-color:#ccc;
    font-size: 65px;
    font-weight: bold;
    transition: 1s;
    font-family: 'Abril Fatface', serif;
    border: none;
}

.x-button{
    color: black;
    position: fixed;
    top:20px;
    right: 80px;
    width: 50px;
}

.food-list{
    z-index: 1001;
    position: fixed;
    top: 570px;
    left: 40%;
}

li {  
    cursor:pointer;
    list-style: none;
    font-size: 20px;
    word-spacing: 5px;
    font-weight: normal !important;
    color: rgb(83, 78, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mglass{
    margin-top: 15px;
    margin-right: 10px;
    color: black;
    font-size: 50px;
}

.searchdiv{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 50px;
}


/* MIDDLE PART */

.middle-upper{
    position: relative;
    display: flex;
    justify-content: center;
}

.middle-background{
    width:100vw;
    height:115vh;
    opacity: 0.9;
}

.statistics{
    display: flex;
    position: absolute;
    z-index: 1000;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    width: 70vw;
}

.favicon-styling{
    margin-bottom: 15px;
}

.singular-statistic{
    background-color: white;
    padding: 112px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    color: brown;  
}

.box-paragraph{
  width: 200px;
  margin-top: 15px;
}

section:hover .image-1{
    background-image: url("././Images/1662733957635.jpeg");
    background-position: center;
    color: white;
    transition-duration: 0.8s;
}

section:hover .image-2{
    background-image: url("././Images/IMG_6922_1200x1200.webp");
    background-position: center;
    color: white;
    transition-duration: 0.8s;
}

section:hover .image-3{
    background-image: url("././Images/Screenshot_1.png");
    background-position: center;
    color: white;
    transition-duration: 0.8s;
}   

.about-us{
    flex-basis:100%;
    position: relative;
    margin-top: 2rem;
}

.cook-image{
    position: absolute;
    left: 70%;
    top: -10%;
    height: 115%;
}

.big-headers{
    color: white;
    font-weight: 1000;
    font-size: 2.5rem;
}

.medium-headers{
    font-size: 1.5rem;
    color: white;
    margin-top: 1.5rem;
    width: 55%;
}

.about-us-text{
    color: white;
    width: 55%;
    margin-top: 1.5rem;
}

.flex-stats{
    padding-left: 1rem;
}

.stats-text{
    font-size: 1.4rem;
}

.stats-number{
    font-weight: 800;
    font-size: 2.5rem;
    color: rgb(184, 48, 48);  
}

.about-us-button{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    color:brown;
    border-color: brown;
    cursor: pointer;
}


/* DIET IS THE TARGET PART */

.diet_is_the_target{
    display: flex;
    justify-content: center;
}

.big-headers2{
    color: brown;
    font-weight: 1000;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media all and (max-width: 480px){
    *{
        font-size: 14px;
     }
    .middle-background{
        height:175vh;
    }
   .welcome_page_text{
    font-size: 60px;
   }
   .text-position2{
    left:10%
   }
   .overlay{
    font-size: 22px;
   }
   .mglass{
    font-size: 20px;
   }
   .cook-image{
    display: none;
}
.food-list{
    top:615px;
}
}

@media all and (min-width: 481px) and (max-width: 768px) {
    .welcome_page_text{
        font-size: 70px;
       }
    .overlay{
        font-size: 35px;
       }
    .mglass{
        font-size: 30px;
       }
    .singular-statistic{
        padding: 105px;
    }
    .cook-image{
        display: none;
    }
    .middle-background{
        height:205vh;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
    .overlay{
        font-size: 50px;
       }
    .middle-background{
        height:192vh;
    }
    .cook-image{
        display: none;
    }
}

@media all and (min-width: 1025px) and (max-width: 1200px) {
    .middle-background{
        height:195vh;
    }
}